*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
.center{
    padding: 0 2%;
    max-width:960px;
    margin: 0 auto;
}
.clear{
    clear: both;
}
header{
    border-bottom: 3px solid rgba(71, 83, 88,0.14);
    padding-bottom: 20px;
}
.logo{
    width: 166px;
    height: 64px;
    background-color: red;
}
.not{
    float: left;
}
nav.not{

    float: left;
    padding-left: 260px;
}
nav.not ul{
    list-style-type: none;
}
nav.not li{
    display: inline-block;
    padding: 0 15px;
}
nav.not a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
nav.mobile{
	cursor: pointer;
	display: none;
	float: right;
	margin-right: 25px;
	margin-top: -50px;
	width: 29px;
	height: 29px;
	
	background-size: 100% 100%;
	z-index: 1;
}
nav.mobile ul{
	display: none;
	background-color:#6CC5B2;
	position: absolute;
	width: 100%;
	left: 0;
	top: 80px;
	list-style-type: none;
	text-align: center;
	z-index: 1;
}
nav.mobile ul li{
	padding:8px 0;
	transition: 0.4s;
	
}
nav.mobile ul li:hover{
	background-color: rgb(230,230,230);
}
nav.mobile ul li a{
	color: white;
	text-decoration: none;
}